@model List<Photon.JobSeeker.Job>

<!DOCTYPE html>
<html>

<head>
    <title>Job Seeker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/color.css" />
    <link rel="stylesheet" href="/style/general.css" />
    <link rel="stylesheet" href="/style/jobs.css" />
</head>

<body>

    <header class="header highligh">
    </header>
    <main class="contaner">
        <div class="row">
            <section class="col-md-8 jobs-list">
                Job List
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <td scope="col">#</td>
                            <td scope="col">Agency</td>
                            <td scope="col">Job</td>
                            <td scope="col">Score</td>
                            <td scope="col">Source</td>
                            <td scope="col">Register Time</td>
                            <td scope="col">Log</td>
                        </tr>
                    </thead>
                    <tbody id="job-list">
                    @foreach (var job in Model)
                    {
                        <tr id="Job_@job.JobID">
                            <td>@job.JobID</td>
                            <td><span>@job.AgencyName</span></td>
                            <td>
                                <a href="@job.Link">
                                    @job.Title
                                </a>
                            </td>
                            <td><strong>@job.Score</strong></td>
                            <td><a href="@job.Url">Link</a></td>
                            <td><span>@job.RegTime</span></td>
                            <td>
                                <a href="javascript:ShowLog(@job.JobID)">Log</a>
                                <p>@job.Log</p>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
            <article class="col-md-4">
                Trend List
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <td scope="col">#</td>
                            <td scope="col">Agency</td>
                            <td scope="col">Type</td>
                            <td scope="col">State</td>
                            <td scope="col">Latest Activity</td>
                        </tr>
                    </thead>
                    <tbody id="job-seeker-trend-list"></tbody>
                </table>
                <button id="reload-trends" type="button" class="btn btn-outline-primary">Reload</button>
            </article>
        </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/scripts/functions.js"></script>
</body>

</html>
