@using Photon.JobSeeker
@model (Job Job, Agency Agency, string Resume)

@{
  Layout = "~/views/layout.cshtml";
  var SafeToString = (object? value) => value?.ToString() ?? string.Empty;
  var HasValue = (object? value) => SafeToString(value).Length > 0 ? "primary" : "secondary";
  var GetColor = (JobState state) => state switch
  {
    JobState.Saved => "text-secondary",
    JobState.Revaluation => "text-secondary",
    JobState.NotApproved => "text-warning",
    JobState.Attention => "text-info",
    JobState.Rejected => "text-danger",
    JobState.Applied => "text-success",
    _=> "text-secondary"
  };
}

<div class="container py-4">
  <header class="pb-3 mb-3 border-bottom">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <span class="fs-4">@Model.Agency?.Name</span>
    </a>
  </header>

  <div class="p-5 mb-2 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h2 class="display-1"><span class="text-secondary">@Model.Job.Score</span>|<span class="@GetColor(Model.Job.State)">@Model.Job.State</span></h2>
      <h1 class="display-3 fw-bold d-inline-block">@Model.Job.Title</h1>
      <h4>Register Time: @Model.Job.RegTime</h4>
      <h6>ID: #@Model.Job.JobID</h6>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-lg-6 mb-3">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Links</h2>
        <a href="@Model.Job.Url" class="btn btn-outline-@HasValue(Model.Job.Url)" target="_blank">URL</a>
        <a href="@Model.Job.Link" class="btn btn-outline-@HasValue(Model.Job.Link)" target="_blank">Link</a>
        <h2>Resume</h2>
        <textarea class="codes">@Html.Raw(string.Join(",\n", Model.Job.Options ?? new HashSet<string>()))</textarea>
        <div>
          <button onclick="" type="button" class="btn btn-outline-primary">Subnit</button>
          <a href="/job/resume?jobid=@Model.Job.JobID" target="_blank" class="btn btn-outline-primary">Resume as html</a>
          <a href="/job/resume64?jobid=@Model.Job.JobID" class="btn btn-outline-secondary">Download Resume as html file</a>
        </div>
        <h2>Actions</h2>
        <button onclick="apply(@Model.Job.JobID)" class="btn btn-outline-success" type="button">Applied</button>
        <button onclick="reject(@Model.Job.JobID)" class="btn btn-outline-danger" type="button">Rejected</button>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h3>Logs</h3>
        <p id="logs-body-@Model.Job.JobID" style="white-space: pre;">@Model.Job.Log</p>
        <script>document.addEventListener("DOMContentLoaded", () => display('logs-body-' + @Model.Job.JobID));</script>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-body-secondary border-top">
    © 2023
  </footer>
</div>